/* css_position_style.css */

.wrap {
    width: 700px;
    height: 5700px;
    background-color: purple;
    position: relative;
}

.container {
    width: 500px;
    height: 500px;
    background-color: royalblue;
}

.container .item {
    border: 3px dashed red;
}

.container .item:nth-child(1) {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.container .item:nth-child(2) {
    position: relative;
    top: 15px;
    left: 10px;
    width: 120px;
    height: 150px;
    background-color: orange;
}

.container .item:nth-child(3) {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 70px;
    height: 120px;
    background-color: orangered;
}